
security-ms/node_modules/
security-ms/dist/
security-ms/.env
api-gateway/node_modules/
api-gateway/dist/
api-gateway/.env
forecast-ms/node_modules/

forecast-ms/dist/

forecast-ui/.vscode/
redis-data
redis.conf

*.rdb
